body
    font-family: "Poppins", sans-serif

h1
    font-size: 55px
    transition: 1s
a
    margin-right: 40px
    margin-top: 40px
    font-size: 20px

.cnx
    align-items: center
    background-color: #636663 
    color: #f4f4f4
    border-radius: 5px
#cmonterrein
    height: 20px
    width: 8%
#btnjour:hover
    background-color: $success
.hide-content
    visibility: hidden

h5
    cursor: pointer
 
@media  ( max-width: 376px )
    .gauche
        width: 100% !important
    





    